#header{
    background-color: #ff7148;
    border: 3px solid #ff7148;
    border-radius: 5px;
    height: 40px;
    position: fixed;
    width: 1258px;
    z-index: 1;
}
h3 {
    display: inline-block;
    margin: 10px;
}
p{
    float: right;
}
.left{
    background-color: #FFFFFF;
    border: 3px solid #c7d0d5;
    border-radius: 5px;
    float: left;
    height: 150px; 
    width: 275px;
}
.education{
    background-color: #FFFFFF;
    border: 3px solid #c7d0d5;
    border-radius: 5px;
    clear: left;
    float: left;
    height: 150px;
    width: 275px;
}
.right{
    background-color: #ff7148;
    border: 3px solid #ff7148;
    border-radius: 5px;
    clear: right;
    float: right;
    height: 285px;
    width: 275px;
}
#footer{
    background-color: #ff0000;
    border: 3px solid #ff0000;
    border-radius: 5px;
    clear: both;
    height: 20px;
    position: fixed;
    width: 500px;
}
ol{
    display: inline-block;
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 0px;
}
#resume{
    background-color: #c7d0d5;
    border: solid #c7d0d5;
    border-width: 2x;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}
img{
    padding: 15px;
}
#body{
    padding-top: 45px;
}